* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
}

nav {
    width: 100%;
    height: 60px;
    background: #1f1f1f;
    padding: 0 100px;
    position: fixed;
}

nav .logo a {
    float: left;
    line-height: 60px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.navig {
    display: inline;
    float: right;
}

nav .navig a {
    line-height: 60px;
    margin-left: 30px;
    text-decoration: none;
    color: #cccccc;
    font-size: .9rem;
}

nav .navig a:hover {
    color: #ffffff;
}

.menu {
    display: none;
}

.header {
    text-align: center;
    padding-top: 100px;
}
 
.header h1 {
    margin-top: 20px;
    font-size: 3rem;
    line-height: 3.5rem;
}


.buttons {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #1f1f1f;
    margin: 50px 0;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.btn {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    color: #111;
    font-size: .9rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #1f1f1f;
    color: #fff;
}

.active {
    background-color: #1f1f1f;
    color: #fff;
}

.none {
    display: none;
}

.card {
    width: 60%;
    min-height: 60px;
    background: #1f1f1f;
    color: #fff;
    margin: 20px auto ;
    padding: 20px;
    transition: 0.3s;
}

.tab a{
    text-decoration: none;
    color: #fff;
}

.tab a:hover .card {
    background: #000000;
    color: #ffe658;
}

footer {
    width: 100%;
    min-height: 40px;
    background: #1f1f1f;
    color: rgb(180, 180, 180);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

footer p {
    font-size: .7rem;
    font-weight: 300;
    width: 70%;
    margin: 0 auto;
}

footer p a {
    text-decoration: none;
    color: #ffda06;
}

footer p:first-child{
    border-bottom: 1px solid rgb(136, 136, 136);
    margin-bottom: 5px;
    padding-bottom: 5px;
}



@media (max-width: 1024px) {
    .header img {
        width: 12%;
    }

    .header h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .card {
        width: 70%;
    }
}

@media (max-width: 722px) {
    .header img {
        width: 15%;
    }

    .header h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    nav {
        padding: 0 40px;
    }

    .card {
        width: 80%;
    }
}

@media (max-width: 580px) {
    .header h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .card {
        width: 90%;
    }

    nav {
        padding: 0 20px;
    }
}
